<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Pit</title>
  <meta charset="utf-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <app-navbar></app-navbar>

  
  
 

<div  *ngFor="let comentario of ArrayComentarios">
  <div *ngIf="comentario.emailProfessor==email && comentario.documento==rad">

    <div class="col s12 m6">
 <div class="card darken-1">
   <div class="card-content black-text">
     <span class="card-title">Relatório de Atividades Desenvolvidas</span>
     <p>Perído:{{comentario.periodo}}</p>
     <p>Ano:{{comentario.ano}}</p>
     <p>Avaliação: {{comentario.comentario}}</p>
    
   </div>
   <div class="card-action black-text">
  <button value="deletar" name="deletar" class="btn-large green" (click)="deletarComentario(comentario)">OK</button>
   </div>
   
   </div>
 </div>
</div>

</div>


</body>
</html>

