
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
      
  </head>
  <body>
    <app-navbar></app-navbar>
<!-- Note -->
<div class="barra">
<button class="link" (click)="linkLogin()">Logar</button>
</div>


    <div class="card-container">
        <div class="header">
            
            <a href="#">
                <img Width=200px Heigth=250px src="https://i.ibb.co/6Dvqnn4/IMG-20201016-WA0028.jpg">
            </a>
            <h2>Yasmim Sales</h2>
            <h4>Desenvolvedora Web</h4>
        </div>
        <div class="descricao">
            <p>xxxxxxxxxxxxxxxx xxxxxxxx xxxxxxxx xxxx xxxxxxxxx xxxxxxxxxxx  xxxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxx xxxx</p>
        </div>
    </div>



    <div class="card-container2">
        <div class="header">
            
            <a href="#">
                <img Width=200px Heigth=250px src="https://i.ibb.co/YWRF8mL/pp.jpg">
            </a>
            <h2>Gustavo Wanderley</h2>
            <h4>Desenvolvedor Web</h4>
        </div>
        <div class="descricao">
            <p>xxxxxxxxxxxxxxxx xxxxxxxx xxxxxxxx xxxx xxxxxxxxx xxxxxxxxxxx  xxxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxx xxxx</p>
        </div>
    </div>

<!-- Footer -->
<div class="footer">
    <h2>Nome da Plataforma</h2>
  </div>

    </body>
</html>