<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
       <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  </head>
  <body>
    
       <app-navbar></app-navbar>

       <div class="row">
        <div class="col s12 m6">
          <div class="card green darken-1">
            <div class="card-content ">
             

           





<div class="card card-green">
  
  
  
      <!----------------------Atividades de Ensino:Aulas + Apoio ao Ensino-------------------------------------------->
    <div class="card">
      <div class="card-action center-align">
        <h4>Atividades de Ensino </h4>
      </div>
      <br><br>         
      
    <div *ngIf="ArrayAulas?.length > -1;else noAtividades">
      <div *ngFor="let aulas of ArrayAulas" >
          <ul *ngIf="aulas.emailProfessor==email && aulas.ano==ano  && aulas.periodo==periodo ">
       
          <li><a class="titulo">Componente Currícular:</a> {{aulas.componenteCurricular}}</li>
          <li><a class="titulo">Curso:</a> {{aulas.curso}}</li>
          <li><a class="titulo">CH Total do Componente:</a> {{aulas.chTotaldoComponente}}</li>
          <li><a class="titulo">CH Semanal:</a> {{aulas.chSemanal}}</li>
          <li><a class="titulo">CH de Preparação de Aulas:</a> {{aulas.chDePreparacao}}</li>
          <br>
         
          <br>
        
        </ul>
      </div>
    </div>
         
   <ng-template #noAtividades>
    <hr>
    <h5>Não há atividades cadastradas</h5>
  </ng-template>   
      <div *ngIf="arrayApoioAoEnsino?.length > -1; else noAtividades">

  <div *ngFor="let apoioAoEnsino of arrayApoioAoEnsino" >
        <ul class="collection-atividade" *ngIf="apoioAoEnsino.emailProfessor==email  && apoioAoEnsino.ano==ano && apoioAoEnsino.periodo==periodo" >
            <li><a class="titulo">Nome:</a> {{apoioAoEnsino.atividade}}</li>
            <li><a class="titulo">Carga Horária:</a> {{apoioAoEnsino.chSemanal}}</li>
            <li><a class="titulo">Local/Horário/Portaria:</a> {{apoioAoEnsino.lhp}}</li>
            <br>
          
            <br>
          
        </ul>
      </div>
      </div>
     
    
      <ng-template #noAtividades>
        <hr>
        <h5>Não há atividades cadastradas</h5>
      </ng-template>   

  </div>
   <!----------------------------------------Atividade de Pesquisa e Pós-------------------------------------------->
   <div class="card">
    <div class="card-action center-align">
      <h4>Atividades de Pesquisa e Pós-Graduação </h4>
    </div>   
    <div *ngIf="ArrayPesquisa?.length > -1;else noAtividades">
      
      <div *ngFor="let pesquisa of ArrayPesquisa" >
        <br>
        <ul *ngIf=" pesquisa.emailProfessor==email && pesquisa.ano==ano && pesquisa.periodo==periodo" >

          <li><a class="titulo">Descrição:</a> {{pesquisa.atividade}}</li>
          <li><a class="titulo">Carga Horária:</a> {{pesquisa.chSemanal}}</li>
          
        </ul>
      </div>
    </div>
  
 <ng-template #noAtividades>
  <hr>
  <h5>Não há atividades cadastradas</h5>
</ng-template>        
  </div>

     <!----------------------------------------Atividade de Extensao-------------------------------------------->
     <div class="card">
      <div class="card-action center-align">
        <h4>Atividades de Extensão </h4>
      </div>         
      <div *ngIf="ArrayExtensao?.length > -1;else noAtividades">
        <div *ngFor="let extensao of ArrayExtensao" >
         
              <ul *ngIf="extensao.emailProfessor==email && extensao.ano==ano  && extensao.periodo==periodo">
           <br>
            <li><a class="titulo">Projeto:</a> {{extensao.projeto}}</li>
            <li><a class="titulo">Carga Horária Semanal:</a> {{extensao.chSemanal}}</li>
            <li><a class="titulo">início:</a> {{extensao.inicio}}</li>
            <li><a class="titulo">Término:</a> {{extensao.termino}}</li>
            <li><a class="titulo">Participação:</a> {{extensao.participacao}}</li>
          </ul>
       
          </div>
       
        </div>
      
   <ng-template #noAtividades>
    <hr>
    <h5>Não há atividades cadastradas</h5>
  </ng-template>        
    </div>

    <!----------------------------------------Atividade de Administrativo-------------------------------------------->
    <div class="card">
      <div class="card-action center-align">
        <h4>Atividades Administrativo-Pedagógicas</h4>
      </div>
       
      <div *ngIf="ArrayAdministrativo?.length > -1;else noAtividades">   
      <div *ngFor="let administrativo of ArrayAdministrativo" >
        <ul *ngIf=" administrativo.emailProfessor==email && administrativo.ano==ano && administrativo.periodo==periodo">
         
           <br>
        <li><a class="titulo">Atividade:</a> {{administrativo.atividade}}</li>
        <li><a class="titulo">Carga Horária Semanal:</a> {{administrativo.chSemanal}}</li>
        <li><a class="titulo">início:</a> {{administrativo.inicio}}</li>
        <li><a class="titulo">Término:</a> {{administrativo.termino}}</li>
        <li><a class="titulo">Portaria:</a> {{administrativo.portaria}}</li>
          
       
        </ul>
        </div>
      </div>
   <ng-template #noAtividades>
    <hr>
    <h5>Não há atividades cadastradas</h5>
  </ng-template>        
    </div>



  <!-----------------------------------Distribuição da carga horária------------------------------------------->
<div class="card">
  <div class="card-action center-align ">
    <h4>Distribuição da Carga-Horária</h4>
  </div>
  <br><br>
  <div class="car-content">
    <p>Aulas: {{chTotalDeAulas}}</p>
    <p>Preparação de Aulas: {{chTotalDePreparacaoDeAulas}} </p>
    <p>Apoio ao Ensino: {{chTotalDeApoioAoEnsino}} </p>
    <p>Pesquisa: {{chTotalDePesquisa}} </p>
    <p>Extensão: {{chTotalDeExtensao}} </p>
    <p>Administrativo-Pedagógicas: {{chTotalDeAdministrativo}} </p>
    <p>Soma Total: {{chTotal}} </p>
  </div>
</div>

<br>
</div>
<div class="card-action">
</div>
</div>
</div>
        </div>
     





</div>


       </body>
       </html>
