<!DOCTYPE html>
<html lang="pt-br">
 
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
 
</head>
 
<body>
 
  <app-navbar></app-navbar>

  <div class="card">
    <div class="card-action center-align ">
        <h3>PITs Aprovados</h3>
        </div>
   </div>
 
    <div *ngIf="ArrayPits?.length > 0;else noAtividades">
      <div *ngFor="let pit of ArrayPits" >
        <ul *ngIf="pit.emailProfessor==email && pegarEstadoPit(pit)==true" class="collection">
            <div class="row" >
              <div class="col s12 m6">
               <div class="card green darken">
          <button class="card-action black-text " value="criar" name="criar"  (click)="irParaPit(pit.ano,pit.periodo)">
          PIT
          <br>
         Ano: {{pit.ano}}
          <br>
          Período: {{pit.periodo}}
          </button>
        </div>
      </div>
      </div>
          </ul>
          </div>
    </div>
    
    <ng-template #noAtividades>
    <hr>
    <h5>Não há nenhum PIT aprovado.</h5>
    </ng-template>  
 
 
    <div class="card">
      <div class="card-action center-align ">
          <h3> RADs Aprovados</h3>
          </div>
     </div>

     <div *ngIf="ArrayRads?.length > 0;else noAtividades">
      <div *ngFor="let rad of ArrayRads" >
        <ul *ngIf="rad.emailProfessor==email && pegarEstadoRad(rad)==true" class="collection">
            <div class="row" >
              <div class="col s12 m6">
               <div class="card green darken">
          <button class="card-action black-text " value="criar" name="criar"  (click)="irParaRad(rad.ano,rad.periodo)">
          PIT
          <br>
         Ano: {{rad.ano}}
          <br>
          Período: {{rad.periodo}}
          </button>
        </div>
      </div>
      </div>
          </ul>
          </div>
    </div>
    
    <ng-template #noAtividades>
    <hr>
    <h5>Não há nenhum RAD aprovado.</h5>
    </ng-template>  
 
 
 
      </body>
</html>