<!DOCTYPE html>
<html>
<head>
<title>RAD</title>
<meta charset="utf-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <app-navbar></app-navbar>
<br><br><br><br><br>
  <div class="card center-align">
      <h3>Seu documento foi enviado com sucesso!</h3>
      <h5>Aguarde o retono do seu coordenador para fazer as devidas modificações.</h5>
      <h5>Fique de olho nos avisos deixados em seu perfil.</h5>
      <button type="submit" value="Voltar" class="btn green " (click)="quadroDeAvisos()">VOLTAR PARA O QUADRO DE AVISOS</button>
  </div>
  </body>
  </html>
